*{
    transition:0.2s;
    text-align: justify;
    text-justify: inter-word;
}
body {
    font-family: "Open Sans", sans-serif;
    /* overflow-x: hidden; */
    background-color:rgb(233, 218, 218);
}
.top-heading{
    margin:5px 0px 5px 0;
    width: 100%;
    text-align: center;
    background-color: rgb(233, 164, 164);
    color:rgb(155, 10, 10);
    font-weight: bolder;
    font-size: 15px;
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count:infinite;
}
@keyframes blink {
    0%{background-color: rgb(233, 164, 164);
        color:rgb(155, 10, 10);}
    100%{background-color: rgb(171, 155, 247);
        color:rgb(46, 8, 136);}
}
.top-heading > i{
    margin-right:5px;
}
.top-heading > .code1{
    margin-left:5px;
}
header {
    width: 250px;
    height: 100%;
    text-align: center; 
    background-color: rgb(24, 23, 23);
    border:1px solid blue;
    border-radius:10px;
    transition:1s;
    position: fixed;
    top:0;
    z-index: 2;
    margin-left:-300px;
}
header > i {
    color:white;
    font-size:30px;
    background-color: red;
    border-radius:100%;
    position: absolute;
    left:220px;
    top:0px;
    cursor: pointer;
    margin-left:-300px;
}
header > i:hover{
    color:red;
    background-color: white;
    border:1px solid red;
}
header > div {
    text-align: center;
}
header > div > img{
    margin-top:18px;
    width:100px;
    height: 100px;
    border-radius:50%;
    border:10px solid white;
}
header > h1 {
    text-align: center;
    color:white;
    font-family: "Raleway", sans-serif;
    position: relative;
    bottom:15px;
}

.header-icon > a{
    font-size:25px;
    background-color: black;
    border-radius:50%;
    padding:5px 10px 5px 10px;
    color:white;
    position: relative;
    bottom:18px;
}
.header-icon > a:hover {
    color:red;
}
.header-bar > li{
    font-size:18px;
    list-style: none;
    text-decoration: none;    
}
.header-bar > li > a {
    text-decoration: none;
    color:white;
}
.header-bar > li > a >  i {
    padding:15px;
}
.header-bar > li > a:hover{
    border-radius:5px;
    color:rgb(179, 172, 172);
}
.fa-bars {
    color:white;
    background-color:red;
    border-radius:100%;
    padding:6px 8px 5px 8px;
    position: fixed;
    top:35px;
    right:8px;
    z-index:5;
    font-size:30px;
    border:1px solid rgb(236, 81, 81);
    opacity: 0.7;
    cursor: pointer;
}
.fa-bars:hover{
    background-color: black;
}
.auto-typer-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    background: url("https://dl.dropbox.com/s/pmy3lgye5zwbklg/hero-bg.jpg") top center;
    background-size: cover;
    border-radius: 20px;
    margin-bottom:50px;
    border:1px solid black;
}

.auto-typer-image h1 {
    color:#fff;
    position: relative;
    font-size:50px;
    font-weight: 700;
}
.auto-typer-container p {
    margin: 0 0 10px 0;
    font-size: 35px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    position: relative;
    bottom:40px;
}
.auto-typer-container span {
    text-decoration: underline;
    text-decoration-color: red;
}
#about {
    margin:50px;
}
.about-body{
    display: grid;
    grid-template-columns: auto auto;
    gap:20px;
}
.about-body > span{
    position: relative;
    top:10px;
}
.about-body > div {
    position: relative;
    top:-20px;
}
.about-body > div > h1 {
    color:red;
}
.about-title > h1, .skills-title > h1, .resume-title > h1,.contact-title > h1, .portfolio-title > h1 {
    text-decoration: underline;
    text-decoration-color: red;
}
.about-under-info{
    display: grid;
    grid-template-columns: auto auto;
}
.about-user-info-1 > div, .about-user-info-2 > div {
    padding:2px 10px 20px 2px;
} 
.about-under-info > div div > i{
    margin-right: 20px;
}
#skills{
    margin:40px;
    /* background-color: rgba(240, 235, 235, 0.74); */
    /* padding:20px 20px 60px 20px; */
}
.htmlProgress{
    width: 100%;
    background-color: rgba(240, 17, 17, 0.082);
    border-radius: 20px;
}
#htmlBar{
    border-radius:20px;
    text-align:center;
    line-height: 30px;
    color:white;
}
.html1{
    width:100%;
    background-color: rgb(236, 5, 5);
}
.css1{
    width:80%;
    background-color: rgb(236, 5, 120);
}
.php1{
    width:75%;
    background-color: rgb(220, 236, 5);
}
.javascript1{
    width:70%;
    background-color: rgb(47, 5, 236);
}
.jquery1{
    width:70%;
    background-color: rgb(6, 128, 52);
}
.mysql1{
    width:60%;
    background-color: rgb(15, 93, 117);
}
.ajax1{
    width:60%;
    background-color: rgb(12, 141, 109);
}
.responsive1{
    width:100%;
    background-color: rgb(177, 19, 224);
}
.skills-container {
    display: grid;
    grid-template-columns: auto auto;
    gap:25px;
}
.skills-container > .skills-1 > div, .skills-container > .skills-2 > div {
    padding:10px;
}
.skills-container > .skills-2 > div > strong, .skills-container > .skills-1 > div > strong{
    margin-left:10px;
}
.skills-container > div > div > strong {
    position: relative;
    bottom:5px;
}
#resume {
    margin:40px;
}
.resume-container{
    display: grid;
    grid-template-columns: auto auto;
}
.resume-left > div, .resume-right > div {
    border: 4px solid red;
    border-top:none;
    border-right:none;
    border-bottom:none;
    padding:0px 0px 0px 20px;
}
.resume-left > div::before{
    content: "";
    position: absolute;
    left:38px;
    border:1px solid blue;
    background-color: blue;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background: #fff;
    border: 3.5px solid red;
}
.resume-right > div::before{
    content: "";
    position: absolute;
    left:577px;/*679*/
    border:1px solid blue;
    background-color: blue;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background: #fff;
    border: 3.5px solid red;
}
#contact {
    margin:40px;
}
.contact-container{
    display: grid;
    grid-template-columns: 45% auto;
    gap:40px;
}
.contact-title{
    margin-bottom:40px;
}
.contact-container > div {
    box-shadow: 5px 5px 15px white, -5px -5px 15px white;
    padding:40px;
}
.contact-left-info {
    display: grid;
    grid-template-columns: auto auto;
    font-family: "Poppins", sans-serif;
}
.contact-left-info > .left-icon {
    padding:10px;
    font-size:20px;
    line-height: 99px;
}
.contact-left-info > .left-icon > i {
    background-color: white;
    border-radius:50%;
    padding:10px;
    color:red;
    position: relative;
    bottom: 22px;
}
.contact-left-info > .left-icon > i:hover {
    color:white;
    background-color: red;
}
.right-info > h3  {
    position: relative;
    bottom:10px;
}
.right-info > p  {
    position: relative;
    bottom:25px;
}
.contact-form{
    margin-top:20px;
    display: flex;
    flex-direction: column;
    gap:40px;
}
.contact-em{
    display: flex;
    justify-content: space-between;
    gap:40px;
}
form > div > div > input, form > div > input {
    width: 100%;
    height: 40px;
    outline:none;
    border:1px solid rgb(207, 202, 202);
    border-radius: 5px;
}
form > div >  textarea {
    width: 100%; 
    outline:none;
    border:1px solid rgb(207, 202, 202);
    border-radius: 5px;
}
form > div > div > input:focus, form > div > input:focus, form > div >  textarea:focus{
    /* border:1px solid rgb(245, 104, 104); */
    background-color: black;
    border:none;
    color:white;
    border: 2px solid white;
}
form > div > div > label, form > div > label, form > div > label{
    position: relative;
    bottom:10px;
}
form > .message-btn{
    text-align: center;
} 
form > .message-btn > input {
    background-color: rgba(245, 87, 87, 0.658);
    color:rgb(241, 15, 15);
    font-size:16px;
    width: 135px;
    outline: none;
    border:1px solid rgba(255, 0, 0, 0.808);
    font-weight: bolder;
    letter-spacing: 1px;
}

form > .message-btn > input:hover{
    background-color: rgb(177, 6, 6);
    color:white;
}
#portfolio{
    margin:40px;
}
.portfolio-container{
    margin-right:5px;
    padding-top:20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap:2px;
    justify-content: space-between;
    align-items: center;
}
.project-card{
    height: auto;
    border:2px solid white;
    border-radius: 10px;
    padding:10px;
    box-shadow: 2px 2px 5px white, -2px -2px 5px white;
    cursor: pointer;
}
.project-view{
    display: flex;
    justify-content: space-around;
    transition-property: all;
    opacity: 1;
    transition:2s;
}
.project-view > a > div {
    margin:0px;
    background-color: rgba(245, 87, 87, 0.658);
    padding:5px 35px 5px 35px;
    color:rgb(241, 15, 15);
    border-radius:2px;
    font-weight: bolder;
}
.project-view > a {
    text-decoration: none;
}
.project-view > div > i{
    position:relative;
    right:5px;
    color:white;
}
.project-view > a > div:hover{
    background-color: rgb(177, 6, 6);
    color:white;
}
.back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;    
    position: fixed;
    opacity: 1;
    right: 10px;
    bottom: 15px;
    z-index: 1;
    background:red;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
    text-decoration: none;
    opacity: 0.7;
}
.back-to-top i {
  font-size: 25px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin:6px;
}
.back-to-top:hover {
  background:black;
  color: #fff;
}
footer {
    margin:-8px;
}
.footer-container {
    width: 100%;
    background-color: #040b14;
    color: #f4f6fd;
    font-size: 14px;
    padding: 10px 0px 20px 0px;
}
#footer .copyright {
  text-align: center;
  font-weight: bolder;
}
#footer .credits {
  text-align: center;
  font-size: 18px;
  color: #eaebf0;
  padding:10px;
}
.credits > a {
    color:red;
    text-decoration-color:white;
}
/*  Generate Responsive Version for Mobile & iPad view */
@media screen and (max-width:600px){
    /* #about {
        margin:10px;
    } */
    .about-body{
        grid-template-columns: auto;
    }
    .about-under-info{
        grid-template-columns: auto;
    }
    .about-body > span > img {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .resume-container{
    display: grid;
    grid-template-columns: auto;
    }
    .resume-right > div::before{
        left:38px;
    }
    .skills-container {
        grid-template-columns: auto;
        gap:10px;
    }
    .contact-container{
    grid-template-columns: auto;
    gap:40px;
    }
    .contact-em{
    display:flex;
    flex-direction: column;
    }
    .portfolio-container{
        grid-template-columns: auto;
        justify-content: center;
    }
}